
.imagecontainer {
    flex-direction: row;
    justify-content: center;
    height: 60rem;
    /* width: 60rem; */
}

.michaelsImg {
    /* width:fit-content; */
    justify-self: center;
}

ion-card ion-card-content {
    display: flex;
}

ion-card {
    border: none;
}

.YoutubeContainer {
    position: fixed;
    bottom:0%;
}

.YoutubeTag {
    right: 10%;
    width: fit-content;
}
