ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
  }

ion-col ion-card {
    width:auto
}

ion-row {
    height: 300px;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }