.musicPlayerContainer {
    padding: 0%;
    width: auto;
    display: flex;
    justify-content: center;
}

.musicPlayerContainer ion-card {
    height: fit-content;
    width: fit-content;
}

.musicPlayerContainer ion-grid {
    background-color: #383a3e;
    height: fit-content;
    width: fit-content;
}

.imageCardContent {
    width: fit-content;
}

.startCol {
    padding-right:0%;
    max-width: 10rem;
}

.endCol {
    padding-left: 0%;
}
