.musicPlayerContainer {
    margin: 1rem;
    border-style:groove;
    height: 100re;
    padding: 0%;
}

.musicPlayerContainer ion-card {
    height: fit-content;
}

.musicPlayerContainer ion-grid {
    background-color: #383a3e;
    height: fit-content;
}

.startCol {
    padding-right:0%;
    max-width: 10rem;
}

.endCol {
    padding-left: 0%;
}
