.showContainerGrid {
  height: fit-content
}

ion-row {
  flex: auto;
  background-color: transparent;
}

ion-grid {
  background-color: transparent;
  height: 30rem;
  border: none;
}

ion-col {
    background-color: transparent;
    border: none;
    text-align: center;
    min-width:max-content;
  }

  ion-card{
    background-color: transparent;
    border: none;
    padding-inline: 5%;

  }

  ion-list {
    width: 100%;
  }