ion-row {
  flex: auto;
  background-color: transparent;

}

ion-grid {
  background-color: transparent;
  height: 30rem;
  border: none;
}

ion-col {
    background-color: transparent;
    border: none;
    text-align: center;
  }

  ion-card{
    background-color: transparent;
    border: none;
    padding-inline: 20%;

  }
  ion-card ion-card-header ion-card-title{
    color:blue;
  }