.showContainerGrid {
  height: fit-content;
  width:fit-content;

}

.showsContainer {
  display: flex;
  justify-content: center;
}

ion-row {
  flex: auto;
  background-color: transparent;
}

ion-grid {
  background-color: transparent;
  height: 30rem;
  border: none;
  width: fit-content;
}

ion-col {
    background-color: transparent;
    border: none;
    text-align: center;
    min-width:max-content;
  }

  ion-card.merchCard {
    background-color: transparent;
    border: none;
    /* padding-inline: 5%; */
  }
  ion-card.showsCard {
    background-color: transparent;
    border: none;
    /* padding-inline: 5%; */
  }

  ion-list {
    width: 100%;
  }